@model MVCKutuphane.Models.tblkategoriler
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD" />

    </div>
    <br />
    <div>
            <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
      
    </div>
</form>
