@model MVCKutuphane.Models.tbladmin
@{
    ViewBag.Title = "AdminGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<br />

@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div class="form-group">

        <label>ID</label>
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(m => m.KULLANICI, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(m => m.SIFRE, new { @class = "form-control" })
        <label>Yetki</label>
        <br />
        @Html.TextBoxFor(m => m.YETKI, new { @class = "form-control" })
        <br />
    </div>
    <button class="btn btn-warning">Admin Güncelle</button>
}

