@model MVCKutuphane.Models.tblpersoneller
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <div>
       
        <label> Personel Adı</label>
        @Html.TextBoxFor(m => m.PERSONEL, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.PERSONEL , "", new {@style="color:red"} )
    </div>
    <br />
    <button class="btn btn-info">Personel Ekle</button>
</form>

